@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    /* --main-color: #C56B01 !important; */
    --main-color: #006D77 !important;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.row>*{
    padding-right: 0 !important;
    padding-left: 0 !important;
}

body, html {
    height: 100%;
}

input[type=text], input[type=email], button[type=submit]{
    height: 50px;
}

ul {
    list-style-position: inside;
    padding-left: 0;
    list-style-type: none;
}

#location{
    background: #111;
}
#footer{
    height: 50px;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 15px;
}

#socials{
    position: fixed;
    bottom: 45%;
    right: 20px;
}
#socials img{
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.active{
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: var(--main-color);
}