:root{
    /* --main-color: #C56B01 !important; */
    --main-color: #006D77 !important;
}

.text-spacing-8{
    letter-spacing: 8px;
}

.btn-color{
    background: #C26701;
}

.border-left{
    border-left: 10px solid #C56B01;
    padding-right: 10px;
    color: saddlebrown;
}

.main-color{
    color: var(--main-color)
}

.bg-main{
    background: var(--main-color);
}

.h-6-vh{
    height: 100vh;
}

.h-60-vh{
    height: 60vh;
}

.list-style-type-none{
    list-style-type: none;
}

.font-size-20{
    font-size: 20px;
}

.padding-x-80{
    padding: 0 80px;
}

.cover{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.margin-top-100{
    margin-top: 100px;
}